body {
  font: 14px "Arial", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

th, td {
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #f5f5f5;}

table {
    width: 100%;

}

th {
    height: 50px;
}

.centered-table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.centered {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

label {
    display: inline-block;
    width:100%;
    text-align: left;
    font:20px "Calibri";
}

.form {
  width: 50%;
  clear: both;
  border: 3px solid #ddd;
  margin-left: auto;
  margin-right: auto;
}

.form input {
  width: 96%;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}
