body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

table, th, td {
   border: 1px solid black;
}

table {
    width: 100%;

}

th {
    height: 50px;
}

.centered-table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.centered {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}